<html>
<head>
Topic Two
</head>
<body>
<h1>ASIA</h1>
<h3> 
Africa: 2nd largest continent, 2nd most populous (Asia 1st in both). Contains 1/5th of the world’s land area and 1/8th of the world’s population. Consists of 54 independent countries, most recently South Sudan. Plateau would describe the continent best broken in a few places by mountain ranges and also has a few coastal plains. Home to the world’s largest desert, the Sahara. Home to the world’s largest river, the Nile at 3,200 miles long. Great mineral wealth and too many countries that are too dependent on that wealth – it won’t last forever. 
Land/Physiographic Regions: 
1.	Coastal Lowlands – thin strip of land west of the Nile all the way down to the Congo Basin. Fertile lowland, sandy beaches, some forest. 
2.	Nile Basin – found in Egypt, Sudan & South Sudan. Very fertile farmland requiring irrigation. 
3.	Northern Highlands – mostly consist of the Atlas Mountains of Morocco, Algeria & Tunisia.
4.	Saharan Plateau – contains most of Saharan & sub-Saharan Africa. Transition zone to the south which goes from desert to grassland (Sahel aka Sudan).
5.	Western Plateau – grassland in the north, forest in the south. Climax vegetation – nature’s best vegetative use of a location given the variable of sunlight, soil and water. 
6.	Congo Basin – tropical rainforest – not jungle. High canopy so there is little low level vegetation making it easier to move through. 
7.	Eastern Highlands – run from Cape Horn in the north to Mozambique in the south. 
8.	Rift System – runs from Ethiopia to Mozambique – series of parallel cracks in the earth’s crust that create steep sided valleys. It is here that anthropologists discovered ancient human remains (i.e. Lucy).
Sahara desert – deserts are caused by lack of precipitation, atmospheric high pressure, circulation of air masses away from the desert area. Bare rock is more common than sand dunes in the Sahara; hammada (Arabic for barren rock) is 6/7ths of the Sahara, erg (Arabic for sand dunes) is 1/7th of the Sahara. 
</h3>
</body>
</html>